@font-face {
    font-family: 'futura';
    src: url("./fonts/DeleddaOpenRegular.ttf");
}
*
{
    margin: 0;
    padding: 0;
    font-family: 'futura';
    cursor: url("./cursor.png"), auto;
}
img
{
    max-width: 100%;
    box-shadow: 1px 1px 30px rgb(119, 117, 117);
}
a
{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
ul
{
    list-style: none;
}

  
.container
{
    box-sizing: border-box;
    max-width: 1540px;
    padding: 50px 80px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.048);
    border-radius: 18px;
}
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    box-sizing: border-box;
    scroll-snap-align: start;
}

.sectionTitle
{
    font-size: 44px;
    margin-bottom: 50px;
    color: white;
    text-shadow: 1px 1px 30px rgb(119, 117, 117);
}
.showProfile
{
    display: grid !important;
    opacity: 1 !important;
}

@media(max-width: 1024px)
{
    .sectionTitle
    {
        font-size: 34px;
    }
}
@media(max-width: 670px)
{
    .container
    {
        padding-left: 15px;
        padding-right: 15px;
    }
    .sectionTitle
    {
        font-size: 28px;
        text-align: center;
    }
    
}
@media (max-width: 452px)
{
    .sectionTitle
    {
        margin-bottom: 15px;
    }
}