.bannerSection
{    
    display: flex;
    flex-direction: column;    
    padding-top: 120px;
}
.bannerContainer
{
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 199, 247);
    justify-content: space-between;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.048);
    border-radius: 18px;
}
.bannerContainer>img
{
    max-width: 500px;
    box-sizing: border-box;
    border: 8px solid rgba(216, 112, 147, 0.507);
    box-shadow: 1px 1px 30px rgb(119, 117, 117);

    border-radius: 20px;
}
.bannerText
{
    max-width: 700px;
    color: rgb(73, 71, 71);
    
    
}
.bannerParagraph
{
    text-wrap-style:pretty;
    font-size: 20px;
    max-width: 500px;
    margin-bottom: 60px;
    text-shadow: 3px 2px 20px rgba(119, 117, 117, 0.788);
    
}
.firstP
{
    margin-bottom: 20px;
}
.bannerText__btn
{
    padding: 10px 20px;
    background-color: rgb(255, 127, 244);
    border-radius: 20px;
    color: white;
    font-size: 20px;
    box-shadow: 3px 2px 20px rgba(119, 117, 117, 0.788);;
}
