.contactsContainer
{
    background: -webkit-linear-gradient(43deg, #7690d5,#be7d94);
    background: linear-gradient(43deg, #7690d5,#be7d94); 
    flex-direction: column;   
    justify-content: space-between;                                                                                  
}
.contactsWrapper
{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contactsTitle
{
    margin-bottom: 70px;
    
}
.contactsImg
{
    width: 30%;
    height: auto;
    aspect-ratio: 1.2/2;
    margin-top: -100px;
    box-sizing: border-box;
    border: 8px solid white;
    border-radius: 12px;
}
.linksWrapper
{
    
    background-color: white;
    width: 65%;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 12px;
    margin-bottom: 30px;
}
.linksWrapperItem
{
    display: flex;
    
}
.linksWrapperItem>div
{
    width: 160px;
    font-size: 24px;
    margin-right: 40px;
}
.linksWrapperItem>a
{
    position: relative;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.685);
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.linksWrapperItem>a::before
{
    position: absolute;
    content: "";
    width: 0px;
    background-color: rgba(245, 56, 50, 0.212);
    border-radius: 12px;
    left: 50%;
    height: 3px;
    transition: width 0.4s, left 0.4s;
    transform: translateX(-50%);
    top: 100%;
    
}
.linksWrapperItem>a:hover::before
{
    width: 100%;
}
/* @media (max-width: 1700px)
{
    .contactsText
    {
        width: 60%;
    }
    .linksWrapper
    {
        width: 100%;
    }
    .contactsImg
    {
        width: 35%;

    }
}*/
@media (max-width:1290px)
{
    .linksWrapperItem div, .linksWrapperItem a
    {
        font-size: 1.2vw;
    }
} 
@media (max-width: 1020px)
{
    /* .linksWrapperItem div
    {
        width: 40%;
        
    }
    .linksWrapperItem a
    {
        width: 40%;
    }
    .linksWrapperItem
    {
        display: flex;
        justify-content: space-between;
    }
    .linksWrapper
    {
        width: 56%;
    }
    .contactsImg
    {
        width: 40%;
    } */
     .contactsImg
     {
        width: 40%;
        object-fit: cover;
        aspect-ratio: 1/1;
        margin: 0;
     }
     .linksWrapper
     {
        width: 45%;
        padding: 20px;
     }
     .linksWrapperItem div
     {
        width: 45%;
     }
     .linksWrapperItem a
     {
        width: 45%;
        font-size: 10px;
     }
}
@media (max-width: 452px)
{
    .contactsWrapper
    {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .contactsImg
    {
        width: 80%;
    }
    .linksWrapper
    {
        width: 80%;
    }
    .linksWrapper a, .linksWrapper div
    {
        font-size: 2.5vw;
    }
}