.contactsContainer
{
    background: -webkit-linear-gradient(43deg, #7690d5,#be7d94);
    background: linear-gradient(43deg, #7690d5,#be7d94); 
    flex-direction: column;   
    justify-content: space-between;                                                                                  
}
.contactsWrapper
{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contactsTitle
{
    margin-bottom: 70px;
    
}
.contactsImg
{
    width: 30%;
    height: auto;
    aspect-ratio: 1.2/2;
    margin-top: -100px;
    box-sizing: border-box;
    border: 8px solid white;
    border-radius: 12px;
}
.linksWrapper
{
    
    background-color: white;
    width: 85%;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 12px;
    margin: 0 auto;
}
.linksWrapperItem
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.linksWrapperItem>div
{
    width: 160px;
    font-size: 24px;
}
.linksWrapperItem>a
{
    position: relative;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.685);
    display: flex;
    flex-direction: column;
}
.linksWrapperItem div, .linksWrapperItem a
{
    /* margin: 0 auto; */
    width: fit-content;
}
.linksWrapperItem>a::before
{
    position: absolute;
    content: "";
    width: 0px;
    background-color: rgba(245, 56, 50, 0.212);
    border-radius: 12px;
    left: 50%;
    height: 3px;
    transition: width 0.4s, left 0.4s;
    transform: translateX(-50%);
    top: 100%;
    
}
.linksWrapperItem>a:hover::before
{
    width: 100%;
}
@media (max-width: 1150px)
{
    .linksWrapper
    {
        width: 100%;
    }
}
@media (max-width: 900px)
{
    .linksWrapperItem div, .linksWrapperItem a
    {
        font-size: 20px;
    }
}
@media (max-width: 750px)
{
    .linksWrapperItem div, .linksWrapperItem a
    {
        font-size: 16px;
    }
    .linksWrapper
    {
        gap: 20px;
    }
}
@media (max-width: 500px)
{
    .linksWrapperItem
    {
        grid-template-columns: 1fr;
    }
    .linksWrapperItem div, .linksWrapperItem a
    {
        margin: 0 auto;
    }
    .linksWrapper
    {
        padding: 20px;
    }
}