.aboutMeContainer
{
    background: -webkit-linear-gradient(135deg, #F94E4E,#FFA99D,#FFC870); 
    background: linear-gradient(135deg, #F94E4E,#FFA99D,#FFC870);                                             
    flex-direction: column;                                           
}
.aboutMeContent
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.aboutMeImg
{
    max-width: 500px;
    max-height: 500px;
    box-sizing: border-box;
    border: 8px solid white;
    border-radius: 12px;
    box-shadow: none;
}
.aboutMeText
{
    max-width: 500px;
    font-size: 28px;
    align-self: center;
    color:white;
    text-shadow: 3px 2px 20px rgba(119, 117, 117, 0.788);
}
.swiper
{
    width: 500px !important;
    margin: 0 !important;

}
.swiperSlide
{
    width: auto !important;
    position: relative;
}
.deletePhoto
{
    position: absolute;
    bottom: 10%;
    right: 10%;
    transition: 0.3s;
    color:white;
    padding: 5px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.426);
}
.deletePhoto:hover
{
    color:red;
}
@media (max-width: 1314px)
{
    .swiper
    {
        width: 300px !important;
        height: 300px;
        align-self: center;
    }
    .swiper img
    {
        max-width: 100%;
        max-height: 100%
    }
    .aboutMeText
    {
        max-width: 45%;
        font-size: 2.3vw;
    }
}
@media (max-width: 792px)
{
    .aboutMeText
    {
        font-size: 2vw;
        line-height: 120%;
    }
    .swiper
    {
        width: 45% !important;
        aspect-ratio: 1/1;
        height: auto;
    }

}
@media (max-width: 500px)
{
    .aboutMeText
    {
        font-size: 2.5vw;
    }
}
@media (max-width: 452px)
{
    .aboutMeContent
    {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .swiper
    {
        width: 80% !important;
    }
    .aboutMeText
    {
        width: 80%;
        max-width: none;
        font-size: 3.5vw;
    }

}