.header
{
      
      margin-bottom: 60px;
      position: fixed;
      width: 100%;
      
      z-index: 2;
}
.headerContainer
{
    background-color: #ffffff;
    border-radius: 0 0 18px 18px !important;
    max-width: 1640px !important;
    width: 95% !important;
    opacity: 0.8;
    justify-content: space-between;
    border-bottom: 1px solid rgb(224, 216, 216);
    padding: 10px 30px !important;
}
.headerContainer>img
{
    height: 60px;
    box-shadow: none;
}
.headerContainer>nav
{
    display: flex;
    align-items: center;
}
.headerNavList
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;

}
.headerListItem
{
    position: relative;
}
.headerListItem::before
{
    position: absolute;
    height: 2px;
    content: "";
    top:100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(245, 56, 50, 0.295);
    width: 0;
    transition: 0.3s;
}
.headerListItem:hover::before
{
    width: 100%;
}
.menuIcon
{
    display: none;
    width: 30px;
}
.showMenu
{
    display: flex !important;
}
@media (max-width: 768px)
{

    .menuIcon
    {
        display: block;
    }
    .headerContainer>nav
    {
        background-color: antiquewhite;
        padding: 30px;
        border-radius: 14px;
        z-index: 2;
        display: none;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }
    .headerNavList
    {
        flex-direction: column;
        gap: 10px;
    }
    .headerListItem
    {
        width: fit-content;
    }
}