.formContainer
{
    flex-direction: column;
    flex-direction: column;
    background: -webkit-linear-gradient(135deg, #B0CCFF,#E2E2E2,#BDD4FF);
    background: linear-gradient(135deg, #B0CCFF,#E2E2E2,#BDD4FF);    
    justify-content: space-between;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.048);
    border-radius: 18px;
}

.formContentWrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form
{
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: white;
    padding: 25px;
    border-radius: 14px;
    height: 400px;
    max-width: 300px;
    box-sizing: border-box;
    padding-top: 60px;
    box-shadow: 3px 2px 20px rgb(119 117 117 / 58%);
}
.form>input
{
    width: 250px;
    outline: none;
    border: none;
    background-color: rgb(230, 225, 225);
    padding: 10px 0 10px 10px;
    border-radius: 8px;
}
.formImg
{
    max-width: 500px;
    box-sizing: border-box;
    border: 8px solid rgba(112, 183, 216, 0.507);
    box-shadow: 1px 1px 30px rgb(119, 117, 117);
    border-radius: 12px;
    margin-top: -50px;

}
.formBtn
{
    background-color: rgba(165, 127, 255, 0.705) !important;
    margin-top: auto;
}
@media (max-width: 1150px)
{
    .formImg
    {
        max-width: 350px;
        height: 350px;
        margin: auto 0;
    }
}
@media (max-width: 920px)
{
    .form input
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .form
    {
        max-width: 250px;
        height: 350px;
    }
}
@media (max-width: 880px)
{
    .formImg
    {
        max-width: 250px;
        height: 250px;
    }
        .form
    {
        padding-top: 20px;
        max-width: 250px;
        height: 250px;
    }
}
@media (max-width: 758px)
{

    .form
    {
        
        width: 45%;
    }
    .formImg
    {
        max-width: none;
        width: 45%;
        height: auto;
        aspect-ratio: 1/1;
    }

}
@media (max-width: 452px)
{
   .formContentWrapper
   {
    padding-top: 20px;
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
   }
   .formImg
   {
    width: 80%;
   }
   .form
   {
    width: 80%;
   }
}