.footerSection
{
    margin-bottom: 0 !important;
    margin-top: -30px !important;
}
.footerContainer
{
    position: relative;
    border-radius: 18px 18px 0 0;
    background-color: rgba(230, 101, 224, 0.521);
    max-width: 1640px !important;
    width: 95% !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    justify-content: space-around;
}
.footerNav
{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.footerContacts
{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
.logoWrapper
{
    display: flex;
    flex-direction: row;
    gap: 15px;
    
}
.logoWrapper>a>img
{
    box-shadow: none;
    width: 25px;
}
.footerLogo
{
    position: absolute;
    bottom: 0;
    right: 30px;
    box-shadow: none;
}
