.profileContainer
{
    display: none;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
    background-color: white;
    max-width: 1000px;
    max-height: 800px;
    width: 70%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-template-areas: 
    "profileImg profileHystory"
    "profileInfo profileHystory";
    row-gap: 30px;
    column-gap: 50px;
    box-shadow: 3px 2px 20px rgba(119, 117, 117, 0.788);
}
.closeProfile
{
    position: fixed;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.profileInfo
{
    grid-area: profileInfo;
}
.profileHystory
{
    grid-area: profileHystory;
}
.profileHystoryWrapper
{
    overflow-y: scroll;
    max-height: 500px;
}
.profileImg
{
    max-width: 300px;
    border-radius: 14px;
    border: 8px solid rgba(112, 183, 216, 0.507);
}
.profileItem
{
    margin-left: 12px;
}
.profileItem:not(:last-child)
{
    margin-bottom: 20px;
}
.profileHystory h2
{
    font-size: 32px;
    margin-bottom: 30px;
}
.hystoryItem
{
    border: 1px solid rgba(0, 0, 0, 0.292);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 15px;
    margin-right: 20px;
    background-color: rgb(245, 199, 247);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.251);;
}
.hystoryItem p:first-child
{
    margin-bottom: 10px;
}
.unloginProfileCont
{
    min-width: 0;
    min-height: 0;
    padding: 50px;
    width: auto;
    grid-template-columns: none;
    grid-template-rows: none;
    grid-template-areas: unset;
}
.authorForm
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.authorForm div, .registerForm form div:not(:first-child)
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
form input
{
    border-radius: 6px;
  height: 25px;
  border: none;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.46);
  padding-left: 10px;
  box-sizing: border-box;
  outline: none;
}
.authorForm
{
    display: flex;
    flex-direction: column;
    gap: 20px !important;
}
.registerForm
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.profileToggleForm
{
    margin-left: auto;
    margin-right: 10px;
}
.registerForm form
{
    background-color: rgb(245, 199, 247);
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    box-sizing: border-box;
    margin: 0 auto;
    align-items: center;
}
.registerForm form div:not(:last-child)
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.profileSubmitBtn
{
    width: fit-content;
    padding: 10px 20px;
    border-radius: 14px;
    border: none;
    background-color: rgb(255, 127, 244);
    color: white;
    font-size: 16px;
}
@media (max-width: 1100px)
{
    .profileContainer
    {
        width: 85%;
    }
    .unloginProfileCont
    {
        width: auto;
    }
}
@media (max-width: 850px)
{
    .profileContainer
    {

        overflow-y: scroll;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "profileImg"
        "profileInfo"
        "profileHystory";
    }
    .unloginProfileCont
    {
        grid-template-columns: none;
        grid-template-rows: none;
        grid-template-areas: unset;
    }
    .profileImg
    {
        margin: 0 auto;
        width: 80%;
    }
    .profileInfo
    {
        margin: 0 auto;
    }
    .profileHystory
    {
        margin: 0 auto;
        text-align: center;
    }
    .hystoryItem
    {
        margin-right: 0;
    }
}
@media (max-width: 510px)
{
    .registerForm form
    {
        width: 100%;
    }
}
@media (max-width: 400px)
{
    .unloginProfileCont
    {
        padding: 25px;
    }
}
@media (max-width: 350px)
{
    .registerForm form
    {
        padding: 15px;
    }
}